
<div class="max-width">

  <div class="row">
    <div class="col s12">
      <h3>Search:</h3>
      <p>
        <input type="text" placeholder="Search Users" maxlength="20" [(ngModel)]="search.user" (keyup.enter)="searchUser(search)" (blur)="searchUser(search)" />
      </p>
    </div>
  </div>


  <div class="row">
    <div class="col s12 m12 l12">

      <div class="col userListData">

        <div class="col s12 m6 l6" *ngFor="let user of usersList; let i = index" (click)="userDetails(user)">
          <div class="card hoverable">
            <div class="card-content">

              <p><img src="{{user.avatar_url}}" /></p>
              <div class="content">
                <p>{{user.login}}</p>
              </div>


            </div>
          </div>
        </div>

        <div [hidden]="isLoading" class="col s12 noResults" *ngIf="usersList.length === 0">
          <p>No Users found.</p>
        </div>

      </div>


    </div>
  </div>


</div>


<div class="search-results"
     infiniteScroll
     [infiniteScrollDistance]="2"
     [infiniteScrollThrottle]="300"
     (scrolled)="getMoreUsers(lastId)">
</div>
