<div class="navbar-fixed">
  <nav id="header">
    <div class="nav-wrapper black">
      <mz-navbar>
        <a routerLink="/home" class="brand-logo topScroll"><img src="assets/images/logo2.png" /> <span class="title-text">Git App</span></a>
        <a href="#" data-activates="sidenav" class="button-collapse"><i class="material-icons">menu</i></a>
        <mz-navbar-item-container [align]="'right'" class="nav-wrapper black">
          <mz-navbar-item><a routerLink="/users">Users</a></mz-navbar-item>
          <mz-navbar-item><a routerLink="/repositories">Repositories</a></mz-navbar-item>
          <mz-navbar-item><a routerLink="/organizations">Organizations</a></mz-navbar-item>
          <mz-navbar-item><a routerLink="/events">Events</a></mz-navbar-item>
          <mz-navbar-item><a routerLink="/emojis">Emojis</a></mz-navbar-item>
          <mz-navbar-item><a class="modal-trigger" id="aboutModalTrigger"><i class="material-icons">info</i></a></mz-navbar-item>
          <mz-navbar-item><a class="waves-effect waves-light btn amber darken-2" href="//github.com/" target="_blank">More</a></mz-navbar-item>
        </mz-navbar-item-container>
      </mz-navbar>
    </div>

    <mz-sidenav
      [id]="'sidenav'"
      [closeOnClick]="'true'">
      <mz-sidenav-header>
        <img src="assets/images/emoji.jpg" alt="SideImagine" />
      </mz-sidenav-header>

      <mz-sidenav-link><a routerLink="/users">Users</a></mz-sidenav-link>
      <mz-sidenav-link><a routerLink="/repositories">Repositories</a></mz-sidenav-link>
      <mz-sidenav-link><a routerLink="/organizations">Organizations</a></mz-sidenav-link>
      <mz-sidenav-link><a routerLink="/events">Events</a></mz-sidenav-link>
      <mz-sidenav-link><a routerLink="/emojis">Emojis</a></mz-sidenav-link>
      <mz-sidenav-link><a class="modal-trigger" id="aboutModalTrigger2">About</a></mz-sidenav-link>
      <mz-sidenav-link><a href="//github.com/" target="_blank">More</a></mz-sidenav-link>

    </mz-sidenav>

  </nav>
</div>

<router-outlet></router-outlet>
