

.repoListData img {
  max-width:100%;
  position: absolute;
  top: 0;
  left: 0;
  width: 80px;
}

.repoListData .content {
  position: absolute;
  top: 0.3em;
  left: 7em;
}

.card {
  position: relative;
  margin:1em;
  cursor:pointer;
}
.card .card-content {
  padding: 0;
  border-radius: 0 0 2px 2px;
  min-height:80px;
}

.card .card-content img {
  float:left;
}


.outGoing {
  position: absolute;
  top: .5em;
  right: 1em;
}


.title {
  font-weight: bold;
  font-size: 14pt;
}

.max-width {
  max-width:1000px;
  margin:auto;
}
